@import url('./global.css');

#duvidas{
    text-align: center;
    padding: 0 4rem;
}

#duvidas h1{
    font-size: 2rem !important;
}

.pergunta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background-color: #4CA28B;

    margin: 0.5rem 0;
    cursor: pointer;
}

.pergunta p{
    color: whitesmoke;
    font-weight: bold;
}

.pergunta img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(109%) contrast(103%);
}

#beneficios{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.8rem;
    padding: 0 2rem;
    margin: 1rem 0;
}

#beneficios h5, #beneficios h1{
    width: 100%;
    color: white;
    background-color: #4CA28B;
    padding: 0.1rem 1rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    font-size: 1.1rem !important;
}

.card{
    width: 100%;
    padding: 0.5rem;
}

.teste-gratis h5{
    font-size: 1.5rem;
}

.teste-gratis h1{
    font-size: 2.5rem;
    max-width: 45.5rem;
}

.teste-gratis button{
    background-color: #4CA28B;
}

.teste-gratis button a{
    color: white;
}

.teste-gratis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    gap: 1rem;
}