@import url('./global.css');

section:nth-child(3) .apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 5rem;
}

section:nth-child(3) .apresentacao .card-group{
    display: flex;
    gap: 1rem;

}

section:nth-child(3) .apresentacao h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-wrap: nowrap;
}

section:nth-child(3) .apresentacao .card{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background: linear-gradient(225deg, #ffffff, #ffffff);
}

section:nth-child(3) .apresentacao .card:nth-child(2){
    z-index: 3;
}

section:nth-child(3) .apresentacao .card:nth-child(1){
    z-index: 2;
}

section:nth-child(3) .apresentacao .card:nth-child(3){
    z-index: 1;
}

section:nth-child(3) .apresentacao .card:hover{
    z-index: 4;
}

section:nth-child(3) .apresentacao .card h5{
    font-size: 2rem;
}

section:nth-child(3) .apresentacao .card h6:first-of-type{
    font-size: 1.5rem;
}

section:nth-child(3) .apresentacao .card h6:last-of-type{
    font-size: 1.2rem;
}

section:nth-child(3) .apresentacao .card button{
    margin: 1rem 1.5rem;
}